.statistics__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  padding: 20px 10px;
  border: 2.5px solid gray;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
}

.statistics__list:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.statistics__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  font-size: 22px;
}
.statistics__item:not(:last-child) {
  margin-right: 25px;
}

.statistics__item--total {
  margin-right: 25px;
}

.statistics__results {
  display: flex;
  // justify-content: center;
  margin-top: 25px;
}

.statistics__value {
  margin-top: 15px;
}
